.button {
  border-radius: 0.25rem;
  border: 1px solid var(--blue);
  background-color: transparent;
  padding: 0.5rem 1rem;
  font: normal 600 calc(1rem - 2px) / 150% Arial, Helvetica, sans-serif;
  width: fit-content;
  min-height: 2.5rem;
  color: var(--blue);
}

.button:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}

.button:disabled {
  border-color: var(--disabled);
  color: var(--disabled);
  background-color: var(--white);
}

.spin {
  animation: rotate-cw infinite 5s linear;
}

@keyframes rotate-cw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
