.pill {
  border-radius: 9999px;
  padding: 0.25rem 1rem;
  margin: 0px 0.5rem;
}

.error {
  background-color: #f5c4c4;
  color: #d15656;
}

.text-field {
  border: 1px solid var(--black-light);
  background-color: var(--white);
  border-radius: 0.25rem;
  padding: 0.5rem;
}
